<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" type="text/css" href="../Style/styles.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-image: url('../Resource/background.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h2>Registrarse</h2>
        <input type="email" class="form-control" id="correo" placeholder="Correo Electrónico" required>
        <input type="email" class="form-control" id="confirmar_correo" placeholder="Confirmar Correo Electrónico"
            required>
        <input type="password" class="form-control" id="contraseña" placeholder="Contraseña" required>
        <input type="password" class="form-control" id="confirmar_contraseña" placeholder="Confirmar Contraseña"
            required>
        <div id="error" style="color: rgb(146, 8, 8);"></div>
        <br>
        <button type="submit" class="btn" id="registro_btn">Registrarse</button>
        <div>
            <br>
            <a href="../index.html">¿Ya tienes una cuenta? Inicia sesión aquí</a>
        </div>
        <br>
        <button type="submit" class="btn2" id="google_log">Iniciar con Google</button>
        <button type="submit" class="btn2" id="facebook_log">Iniciar con Facebook</button>

    </div>

    <script type="module" id="registrationScript" src="../Controllers/registro.js"></script>

    <footer>
        <p><a href="https://www.freepik.es/foto-gratis/arbol-solitario_17247798.htm#fromView=search&page=1&position=2&uuid=0f8f0d93-12b1-47a5-a617-3e1d100bf933">Imagen
                de wirestock en Freepik</a></p>
    </footer>
</body>

</html>